body {
  background-color: #f8f8f8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

a {
  color: inherit;
}

.pos {
  margin-top: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addjobs{
  margin: 50px;
  width: 180px;
  height: 180px;
  border: 1px solid rgb(84, 84, 84);    
}

.vertical , .horizontal {
  
  background-color: rgb(84, 84, 255);
  width: 100px;
  height: 2px;
}

.vertical {
  position: absolute;
  width: 2px;
  height: 100px;
  left: 150px;
  top: 90px;
}
.text {
  position: absolute;
  top: 220px;
  left: 100px;
  font-size: 15px;
}

select {
  width: 250px;
  height: 30px;
  border: 0px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 15px;
}

option{
  font-size: 15px;
  background-color: #fff;
  border: 0px;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

tr {
  border-bottom: 1px solid #cbcbcb;
}

td {
  padding: 20px;
}

.submit-btn{
  background-color: #008CBA;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;
  align-items: center;
}
.container{
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}